.home-page-container {
    position: relative;
    display: grid;
    grid-template-columns: inherit;
    display: flex;
    flex-direction: column;
    gap: 1rem;       
    text-align: center;
        
}   
