.app-header-container {
    display: grid;
    grid-template-columns: inherit;
    position: sticky;
    top: 0;
    grid-row: 1;
    width: 100%;
    min-width: 100dvw;
    height: 80px;
    // padding: 0.5rem;
    z-index: 10;
    border-bottom: 1px solid $color-primary-dark;

    & > nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: 2;
        width: 100%;
        min-height: 80px;
        padding-block: 0.5rem;

        svg {
            display: flex;
            color: $color-primary-light;
            align-items: center;
            margin: 0;
            padding: 0;
            width: auto;
            height: 60px;
            overflow: visible; 
            vertical-align: top; 
        }
        
        a{
            font-weight: 600;
            border-radius: 10px;
            
            &:hover {
                color: $color-primary-light;
            }

        }
        .active {
            color: $color-secondary;
        }

    }
}