.app-header-container {
    display: grid;
    grid-template-columns: inherit;
    grid-row: 1;

    & > nav {
        grid-column: 2;

        svg {
            display: flex;
            color: $color-primary-dark;
            align-items: center;
            margin: 0;
            padding: 0;
            width: auto;
            height: 60px;
            overflow: visible; 
            vertical-align: top; 
        }
        
        a {  
            &:hover {
                color: $color-secondary;
            }
        }
        .active {
            text-decoration: underline;
        }

    }
}