* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    font-size: 100%;
    scroll-behavior: smooth; 
}
    
body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
    font-weight: 400;
    font-size: 1rem;
    background-color: $color-bg;
    color: $color-primary-dark;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-layout {
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

// a:hover {
//     text-decoration: underline;
// }

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}


pre {
    white-space: pre-wrap;
}

.background-waves {
  position: fixed;        
  bottom: 0;              
  left: 0;
  width: 100%;
  z-index: -1;            
  line-height: 0;
}

.background-waves svg {
  display: block;
  width: 100%;
  height: auto;
}