.main-container {
    display: grid;
    grid-template-columns:
        minmax(24px, 1fr)                
        minmax(auto, $normal-breakpoint) 
        minmax(24px, 1fr);               
    min-height: 100dvh;
    
    & > main {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        padding-block-start: calc($header-height + 1rem);
        // min-height: calc(100dvh - $header-height);
        
        &.no-header-padding {
            padding-block-start: 0;
        } 

        & > * {
            

            &.full {
                grid-column: 1 / -1;
            }
        }
        
        @include for-mobile-layout {
            // min-height: calc(100dvh - $header-height - $footer-height);
            padding-block-end: calc($footer-height + 1rem);
        }
    }

    


    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
