.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.overscroll-bounce {
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
}