// Colors
$color-primary-light: #EBBAB9;   
$color-primary-dark: #407076;

$color-secondary: #698996;        

$color-bg: #fdf9fb;            
$color-surface: #C9C5BA;          
$color-green-surface: #97B1A6; 

$color-text: #222222;             
$color-text-muted: #666666;       
$color-text-on-primary: #ffffff;  

$color-border: #e5e0e5;
$color-divider: #f0e8f1;

$shadow-soft: 0 4px 16px rgba(0, 0, 0, 0.08);
$shadow-strong: 0 8px 20px rgba(0, 0, 0, 0.12);

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 1200px;
$wide-breakpoint: 1440px;


$header-height: 65px;