@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .safe-p {
        padding:
            env(safe-area-inset-top, 50px)
            env(safe-area-inset-right, 16px)
            env(safe-area-inset-bottom, 40px)
            env(safe-area-inset-left, 16px);
    }

    .safe-pt {
        padding-top: env(safe-area-inset-top);
    }

    .safe-pb {
        padding-bottom: env(safe-area-inset-bottom);
    }

    .safe-pl {
        padding-left: env(safe-area-inset-left);
    }

    .safe-pr {
        padding-right: env(safe-area-inset-right);
    }
}