// Setup
@import '../../tailwind.css';
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';

// Basics
@import 'basics/layout';
@import 'basics/base';
@import 'basics/forms';

// pages
@import 'RootCmp';
@import 'pages/Home';

// Components
@import 'cmps/AppHeader';
@import 'cmps/AppFooter';
