.main-container main {
    min-height: calc(100svh - 10rem);
}

.processing {
  border: 2px dashed #a3e635;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  to { border-dashoffset: -20; }
}